
.drop-off {
  outline: 2px dotted red;
  margin: 0 20px;
  padding: 0;
  max-width: 1400px;
  max-height: 100px;
  background-color: #fdd;
  overflow: hidden;

  &.inlineBlock li {
    display: inline-block;
  }

  &.floated li {
    float: left;
  }

  li {
    margin: 0;
    padding: 0 20px;
    list-style-type: none;
    line-height: 100px;
    color: #fff;
    text-align: center;
  }

  li[aria-hidden=true] {
    display: none;
  }

  li:not([data-priority]) {
    background-color: #333;
  }

  li[data-priority='3'] {
    background-color: #666;
  }

  li[data-priority='2'] {
    background-color: #999;
  }

  li[data-priority='1'] {
    background-color: #bbb;
  }

}