
.drop-off {
  margin: 0 20px;
  padding: 0;
  max-width: 950px;
  max-height: 100px;
  font-family: sans-serif;
  font-size: 14px;
  background-color: #fdd;
  white-space: nowrap;
  overflow: hidden;

  li {
    display: inline-block;
    margin: 0;
    padding: 0 20px;
    list-style-type: none;
    line-height: 100px;
    color: #fff;
    text-align: center;
  }

  li[aria-hidden=true] {
    display: none;
  }

  li:not([data-priority]) {
    background-color: #333;
  }

  li[data-priority='3'] {
    background-color: #666;
  }

  li[data-priority='2'] {
    background-color: #999;
  }

  li[data-priority='1'] {
    background-color: #bbb;
  }

  li[data-priority='-1'] {
    background-color: #ddd;
    color: #888;
  }

  li[data-more] {
    font-weight: bold;
    background-color: #833;
  }

}