
<h1>Display: inline-block</h1>

<ul class="drop-off inlineBlock"><!--
--><li data-priority="2">Narrow, Priority 2</li><!--
--><li data-priority="1">Not so narrow, Priority 1</li><!--
--><li data-priority="3">Priority 3</li><!--
--><li>No priority</li><!--
--><li data-priority="2">Really quite wide, Priority 2</li><!--
--><li data-priority="1">Priority 1</li><!--
--><li data-priority="3">Priority 3</li><!--
--><li>No priority</li><!--
--><li data-priority="2">Wide-ish, Priority 2</li><!--
--></ul>

<br />
<br />

<h1>Floated</h1>

<ul class="drop-off inlineBlock"><!--
--><li data-priority="2">Narrow, Priority 2</li><!--
--><li data-priority="1">Not so narrow, Priority 1</li><!--
--><li data-priority="3">Priority 3</li><!--
--><li>No priority</li><!--
--><li data-priority="2">Really quite wide, Priority 2</li><!--
--><li data-priority="1">Priority 1</li><!--
--><li data-priority="3">Priority 3</li><!--
--><li>No priority</li><!--
--><li data-priority="2">Wide-ish, Priority 2</li><!--
--></ul>