<ul data-o-component="o-squishy-list" class="drop-off"><!--
--><li data-priority="2">Priority 2</li><!--
--><li data-priority="1">Priority 1</li><!--
--><li data-priority="3">Priority 3</li><!--
--><li>No priority</li><!--
--><li data-priority="2">Priority 2</li><!--
--><li data-priority="1">Priority 1</li><!--
--><li data-priority="-1">Don't hide</li><!--
--><li>No priority</li><!--
--><li data-priority="2">Priority 2</li><!--
--></ul>
